body {
    background-color:rgb(219, 59, 59);
}
#Header {
    color: rgb(219, 59, 59);
    background-color: white;
}
#Sub {
    color: rgb(121, 116, 116);
    background-color: white;
}
#sound {
    color:lightskyblue;

}
#acc {
    color:lightskyblue;
    
}
#CopyRightFooter{
    position: fixed; 
    bottom: 0;
    text-align: center;
    background-color:white;
    width: 100%;
    line-height: 3;
    font-size: 20px;
    text-shadow: 2px 2px gray;
}
